/* style.css */
body, html {
  height: 100%;
}
  
.container-fluid {
  display: flex;
  height: 100%;
}
  
.sidebar {
  padding: 20px;
  width: 300px;
  overflow-y: auto;
  background-color: lightgreen;
  color: white;
}

.sidebar h2 {
  margin: 0px;
  font: 1.8em 'arial';
}

.sidebar h4 {
  font: 1.2em 'arial';
  margin-bottom: 5px;
}

#logo img{
  max-width: 100%;
}

#openingHours {
  padding-top: 20px;
  text-align: center;
}





.dropdown {
  display: flex;
  flex-direction: column;
}

#openingHoursButton {
  background-color: lightgreen;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid white;
  cursor: pointer;
}

.dropdown-menu.show {
  background-color: lightgreen;
  /* border: none; */
  z-index: 1;
}

#contactDetails {
  padding-top: 20px;
  text-align: center;
}

#contactsDetailsButton {
  background-color: lightgreen;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid white;
  cursor: pointer;
}

#location {
  padding-top: 20px;
  text-align: center;
}

#locationButton {
  background-color: lightgreen;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid white;
  cursor: pointer;
}

#location iframe{
  max-width: 100%;
  height: 200px;
}

.content {
  overflow-y: auto;
  padding: 20px 40px;
}

#Bio {
  margin-bottom: 60px;
  padding: 20px;
}

header {
  border: 2px solid lightgreen;
  border-radius: 10px;
}

header p {
  margin: 0px;
}







#produce {
  margin-top: 40px;
}

.ourProduce {
  display: flex;
  justify-content: space-between;
}

.orderBtn {
  color: black;
  background-color: lightgreen;
  width: 150px; /* Set custom width */
  height: 50px; /* Set custom height */
  border-radius: 20px; /* Round corners */
}

.certification-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #393f52;
  border-radius: 5px;
}
.certification-card img {
  max-width: 70px;
  margin-right: 10px;
  border: 1px solid #393f52;
}
.certification-card .card-body {
  flex: 1;
}





  
  
  @media screen and (max-width: 768px) {
    .container-fluid {
      flex-direction: column;
    }
  
    .sidebar {
      width: 100%;
      height: auto;
      min-height: auto;
    }
  
    .content {
      padding: 20px;
    }
  }
  
  /* Rest of your CSS */
  